<div class="card">
  <osm-spinner class="spider" *ngIf="isLoading"></osm-spinner>
  <div class="aggregation-chart">
    <div class="filter-dropdown-group">
      <div class="btn-group pull-left perc-element" data-toggle="buttons" id="stack-bars-switch">
        <label class="btn btn-sm btn-default" id="switch-beside-button"
               [class.active]="!aggregationChartDataService.stackBars" (click)="changeStackBars(beside.value); redraw()">
          <input #beside type="radio" name="stackBars" [value]="false">
          Beside
        </label>
        <label class="btn btn-sm btn-default" id="switch-infront-button"
               [class.active]="aggregationChartDataService.stackBars" (click)="changeStackBars(inFront.value); redraw()">
          <input #inFront type="radio" name="stackBars" [value]="true">
          In Front
        </label>
      </div>
      <div class="btn-group pull-left perc-element" data-toggle="buttons" id="aggregation-value-switch">
        <label class="btn btn-sm btn-default" id="aggregation-average-button"
               [class.active]="aggregationChartDataService.aggregationType === 'avg'"
               (click)="aggregationChartDataService.aggregationType = average.value; redraw()">
          <input #average type="radio" name="aggregationValue" value="avg" checked>
          Average
        </label>
        <label class="btn btn-sm btn-default" id="aggregation-percentile-button"
               [class.active]="aggregationChartDataService.aggregationType === 'percentile'"
               (click)="aggregationChartDataService.aggregationType = percentile.value; redraw()">
          <input #percentile type="radio" name="aggregationValue" value="percentile">
          Percentile
        </label>
      </div>

      <input class="btn btn-sm btn-default perc-element" id="percentage-field" type="number" placeholder="%"
             [(ngModel)]="percentileValue" (ngModelChange)="reloadPercentile()" min="1" max="100" style="max-width: 5em;" [disabled]="aggregationChartDataService.aggregationType === 'avg'"/>
      <input class="form-control perc-element perc-slider" id="percentage-slider" type="range"
             [(ngModel)]="percentileValue" (ngModelChange)="reloadPercentile()" min="5" max="100" step="5" [disabled]="aggregationChartDataService.aggregationType === 'avg'"/>

      <button id="filter-dropdown" type="button" class="btn btn-default btn-sm dropdown-toggle perc-element"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Filter <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li id="all-bars-header" class="dropdown-header">
          {{'frontend.de.iteratec.osm.barchart.filter.noFilterHeader' | translate }}
        </li>
        <li>
          <a class="chart-filter" (click)="selectFilter('desc')"><i [ngClass]="aggregationChartDataService.descSelected ? 'fas fa-check' : 'fas fa-check filter-inactive'"></i>
            {{'frontend.de.iteratec.osm.barchart.filter.noFilterDesc' | translate }}
          </a>
        </li>
        <li>
          <a class="chart-filter" (click)="selectFilter('asc')"><i [ngClass]="aggregationChartDataService.ascSelected ? 'fas fa-check' : 'fas fa-check filter-inactive'"></i>
            {{'frontend.de.iteratec.osm.barchart.filter.noFilterAsc' | translate }}
          </a>
        </li>
        <ng-container *ngIf="hasFilterRules">
          <li id="customer-journey-header" class="dropdown-header">
            {{'frontend.de.iteratec.osm.barchart.filter.customerJourneyHeader' | translate}}
          </li>
          <li *ngFor="let filterRule of filterRules | keyvalue">
            <a class="chart-filter" (click)="selectFilter(filterRule.key)">
              <i [ngClass]="filterRule.value.selected ? 'fas fa-check' : 'fas fa-check filter-inactive'" ></i>
              {{filterRule.key}}
            </a>
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="in-chart-buttons">
      <a data-toggle="modal" role="button" title="Download as PNG">
        <i class="fas fa-download"></i>
      </a>
    </div>

    <div class="svg-container">
      <svg #svg id="aggregation-chart-svg" class="aggregation-chart-svg" xmlns="http://www.w3.org/1999/html" (window:resize)="redraw()"></svg>
    </div>
  </div>
</div>
