<div class="card">
  <div class="aggregation-chart">
    <osm-spinner [spinnerId]="'aggregation-chart-spinner'"></osm-spinner>
    <div class="filter-dropdown-group">
      <div *ngIf="showDiagramTypeSwitch" class="btn-group pull-left perc-element" data-toggle="buttons"
           id="stack-bars-switch">
        <button (click)="selectDiagramType('grouped')" [class.active]="!aggregationChartDataService.stackBars"
                class="btn btn-sm btn-default"
                id="switch-beside-button">
          {{'frontend.de.iteratec.osm.barchart.settings.beside' | translate }}
        </button>
        <button (click)="selectDiagramType('stacked')" [class.active]="aggregationChartDataService.stackBars"
                class="btn btn-sm btn-default"
                id="switch-infront-button">
          {{'frontend.de.iteratec.osm.barchart.settings.inFront' | translate }}
        </button>
      </div>
      <div class="btn-group pull-left perc-element" data-toggle="buttons" id="aggregation-type-switch">
        <button (click)="selectAggregationType('avg')"
                [class.active]="aggregationChartDataService.aggregationType === 'avg'"
                class="btn btn-sm btn-default" id="aggregation-average-button">
          {{'frontend.de.iteratec.osm.barchart.settings.average' | translate }}
        </button>
        <button (click)="selectAggregationType('percentile')"
                [class.active]="aggregationChartDataService.aggregationType === 'percentile'"
                [disabled]="!enoughPercentileValues()"
                class="btn btn-sm btn-default" id="aggregation-percentile-button"
                title="{{!enoughPercentileValues() ? ('frontend.de.iteratec.osm.barchart.settings.notEnoughData' | translate) : ''}}">
          {{'frontend.de.iteratec.osm.barchart.settings.percentile' | translate }}
        </button>

      </div>

      <input (ngModelChange)="reloadPercentile()" *ngIf="enoughPercentileValues()"
             [(ngModel)]="aggregationChartDataService.percentileValue"
             [disabled]="aggregationChartDataService.aggregationType === 'avg'"
             class="btn btn-sm btn-default perc-element" id="percentage-field" max="100" min="1"
             placeholder="%" style="max-width: 5em;"
             type="number"/>
      <input (mouseup)="reloadPercentile()" *ngIf="enoughPercentileValues()"
             [(ngModel)]="aggregationChartDataService.percentileValue"
             [disabled]="aggregationChartDataService.aggregationType === 'avg'"
             class="form-control perc-element perc-slider" id="percentage-slider" max="100" min="5"
             step="5"
             type="range"/>

      <button aria-expanded="false" aria-haspopup="true" class="btn btn-default btn-sm dropdown-toggle perc-element"
              data-toggle="dropdown"
              id="filter-dropdown" type="button">{{'frontend.de.iteratec.osm.barchart.filter' | translate }} <span
        class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li class="dropdown-header" id="all-bars-header">
          {{'frontend.de.iteratec.osm.barchart.filter.noFilterHeader' | translate }}
        </li>
        <li>
          <a (click)="selectFilter('desc')" class="chart-filter"><i
            [ngClass]="aggregationChartDataService.descSelected ? 'fas fa-check' : 'fas fa-check filter-inactive'"></i>
            {{'frontend.de.iteratec.osm.barchart.filter.noFilterDesc' | translate }}
          </a>
        </li>
        <li>
          <a (click)="selectFilter('asc')" class="chart-filter"><i
            [ngClass]="aggregationChartDataService.ascSelected ? 'fas fa-check' : 'fas fa-check filter-inactive'"></i>
            {{'frontend.de.iteratec.osm.barchart.filter.noFilterAsc' | translate }}
          </a>
        </li>
        <ng-container *ngIf="hasFilterRules">
          <li class="dropdown-header" id="customer-journey-header">
            {{'frontend.de.iteratec.osm.barchart.filter.customerJourneyHeader' | translate}}
          </li>
          <li *ngFor="let filterRule of filterRules | keyvalue">
            <a (click)="selectFilter(filterRule.key)" class="chart-filter">
              <i [ngClass]="filterRule.value.selected ? 'fas fa-check' : 'fas fa-check filter-inactive'"></i>
              {{filterRule.key}}
            </a>
          </li>
        </ng-container>
      </ul>

    </div>

    <div class="svg-container">
      <svg #svg (window:resize)="redraw()" class="aggregation-chart-svg" id="aggregation-chart-svg"
           xmlns="http://www.w3.org/1999/html"></svg>
    </div>
  </div>
</div>
