@import '../../../../../styles/colors';

.aggregation-chart {
  position: relative;
  width: 100%;
}

svg.aggregation-chart-svg {
  width: 100%;
  height: 100%;
}

.in-chart-buttons {
  z-index: 2;
  position: relative;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1650px) {
  .filter-dropdown-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    padding: 6px 12px;
  }
}

@media screen and (min-width: 1651px) {
  .filter-dropdown-group {
    display: flex;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 0;
    z-index: 2;
    padding: 6px 12px;
  }
}

.filter-dropdown-group {
  ul > li > a {
    cursor: pointer;
  }

  .filter-inactive {
    visibility: hidden;
  }

  .perc-element {
    margin-right: .5em;
  }

  .perc-slider {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    max-width: 10em;
  }
  .perc-slider:focus {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
  }
  .perc-slider:disabled {
    opacity: 0.5;
  }
  .perc-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 32px;
    width: 12px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: $color-primary;
    border: 1px solid darken($color-primary, 10%);
    margin-top: -12px;
    cursor: pointer;
  }
  .perc-slider:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
  }
  .perc-slider::-moz-range-thumb {
    width: 10px;
    height: 30px;
    background: $color-primary;
    border-color: darken($color-primary, 10%);
    border-radius: 4px;
    cursor: pointer;
    -moz-border-radius: 4px;
  }
  .perc-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: lightgray;
    height: 8px;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  .perc-slider::-moz-range-track {
    background: lightgray;
    height: 8px;
    width: 100%;
    border-radius: 2px;
  }
}
