/*
*= require /dimple/barchart.css
*= require /_resultSelection/selectBarchartMeasurings.css
*= require_self
*/

.card-well {
    position: relative;
}

.card-well .reset-result-selection {
    float: none;
    position: absolute;
    bottom: 14px;
    right: 14px;
    margin: 0;
}

.chartSizeInput {
    text-align: right;
}

.adjustChartsizeAddon {
    min-width: 5em;
}

.colorLabel {
    min-width: 17em;
    text-align: left;
}