/*
*= require /d3Charts/barChartHorizontal
*= require /_resultSelection/selectBarchartMeasurings.css
*= require_self
*/

.card-well {
    position: relative;
}

.filterInactive {
    visibility: hidden;
}

#stackBarSwitch {
    margin-right: 5px;
}
