/*
*= require /d3Charts/barChartHorizontal
*= require /_resultSelection/selectBarchartMeasurings.css
*= require_self
*/

.card-well {
    position: relative;
}

.filterActive {
    visibility: visible;
}

.filterInactive {
    visibility: hidden;
}