/*
*= require tagit.css
*= require_self
*/
@import "../variables-corporate";

#placeholderCandidates {
  display: inline-block;
}

#placeholderCandidates a, .alreadyUsed {
  margin: 0.3em;
  text-decoration: underline;
  font-weight: bold;
}

#placeholderCandidates .alreadyUsed {
  color: #999;
}

.infoImage {
  margin: 0 auto;
  max-height: 200px;
  max-width: 100%;
}

.popover {
  max-width: 600px;
  width: auto;
}

#maxDownloadTimeInMinutes input.non-editable {
  border: none;
  box-shadow: none;
  color: #000;
  width: 2em;
  background: #fff;
  cursor: default;
}

input[type="text"], textarea {
  box-sizing: border-box;
}

#placeholderCandidates {
  padding-top: 7px;
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
}

.modal-dialog {
  width: 800px;
}

.panel.panel-info {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  .panel-heading {
    text-align: center;
    color: darken(@iteratec-gray-lighter, 60%);
    background-color: @iteratec-gray-lighter;
    border: none;
  }
}

#jobSettingsTab {
  margin-top: 20px
}

#scriptTab {
  margin-top: 20px
}

#advancedSettingsTab {
  margin-top: 20px
}

#auth_username {
  margin-top: 15px
}

#script_button_copyToClipboard {
  float: right;
  margin-top: -25px
}

#script_button_edit {
  float: right;
  margin-right: 10px;
  margin-top: -25px
}

