/*
*= require tagit.css
*= require_self
*/
#placeholderCandidates {
    display: inline-block;
}

#placeholderCandidates a, .alreadyUsed {
    margin: 0.3em;
    text-decoration: underline;
    font-weight: bold;
}

#placeholderCandidates .alreadyUsed {
    color: #999;
}

.infoImage {
    margin: 0 auto;
    max-height: 200px;
    max-width: 100%;
}

.popover {
    max-width: 600px;
    width: auto;
}

#maxDownloadTimeInMinutes input.non-editable {
    border: none;
    box-shadow: none;
    color: #000;
    width: 2em;
    background: #fff;
    cursor: default;
}

input[type="text"], textarea {
    width: 35em !important;
    box-sizing: border-box;
}

#tags {
    width: 32em;
}

#tags input {
    width: 31em !important;
}

#placeholderCandidates {
    padding-top: 7px;
}

.checkbox input[type="checkbox"] {
    margin-left: 0;
}

#jobGroupModalLink {
    margin-top: 7px;
}

.modal-dialog {
    width: 800px;
}
