/*
*= require_self
*/

@import "../bower_components/bootstrap/less/variables.less";

td{
  padding: 0.3em;
}
th{
  &:extend(td);
  background-color: #ffffff;
}

table#jobtable tr.success td {
	background: rgb(171, 248, 171) !important;
}

table#jobtable tr.failure td {
	background: rgb(255, 194, 194);
}

.status {
	display: block;
}
.done {
	
}


label {
	display: inline !important;
	margin-right: 1em;
}
.cronExpression {
/*	display: none;*/
}
#serverdown {
	display: none;
}

ul.tags	{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.tags li { /*display: inline;*/
display: block;
   float: left;
   margin: 0 3px 0 0;
   border: 1px #ccc solid;
   padding: 1px 2px 1px 2px;
   border-radius: 5px;
   background: #ddd;
}

.chosen-container {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #cccccc;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #555555;
}

.chosen-container .search-field {
	height: 32px;
}

.inactiveJob {
	font-weight: normal;
}
.running {
    background: center left no-repeat url(../../images/loading_indicator.gif);
    padding-left: 20px;
}

#updateHints {
	line-height: 21px;
	padding: 6px;
}

.show-chart-buttons {
	float: right;
	height: 100%;
	display: flex;
}

.show-chart-buttons a {
	vertical-align: middle;
	display: table-cell;
	//color: @gray-light;
	padding: 5px 8px;
	border-radius: 4px;
	&:hover, &:focus {
		//color: white;
		background: @gray-lighter;
	}
}