<div>
  <osm-threshold-group *ngFor="let thresholdGroup of allThresholdGroups$ | async"
                       [thresholdGroup]="thresholdGroup"
                       [unusedMeasuredEvents]="unusedMeasuredEvents$ | async">
  </osm-threshold-group>

  <p class="message" *ngIf="isEmpty == true"> {{"frontend.job.threshold.description" | translate}}</p>

  <button type="button" class="btn btn-primary" [disabled]="addMeasuredEventDisabled"
          (click)="addThresholdGroup() ">{{"frontend.job.threshold.addMeasuredEvent" | translate}}
  </button>
  <button *ngIf="hasSavedThresholds$ | async" type="button" class="btn btn-default"
          (click)="createScript()">{{"frontend.job.threshold.createScript" | translate}}
  </button>
</div>


