<div>
  <osm-measured-event *ngFor="let thresholdForJob of allThresholds$ | async"
                      [measuredEvent]="thresholdForJob.measuredEvent"
                      [thresholds]="thresholdForJob.thresholds"
                      (removeOldMeasuredEvent) = "removeOldMeasuredEvent()"
                      (removeEvent)="cancelNewMeasuredEvent()">
  </osm-measured-event>

  <p class="message" *ngIf="isEmpty == true"> {{"frontend.job.threshold.description" | translate}}</p>

  <button type="button"
          class="btn btn-primary"
          [disabled] = "addMeasuredEventDisabled"
          (click)="addMeasuredEvent() ">{{"frontend.job.threshold.addMeasuredEvent" | translate}}
  </button>
  <button type="button"
          class="btn btn-default"
          (click)="createScript()">{{"frontend.job.threshold.createScript" | translate}}
  </button>
</div>


