<div class="card form-horizontal">
  <h2>Pages</h2>
  <div class="col-md-12" id="pageComparisonCard2">
    <div *ngFor="let selection of pageComparisonSelections">
      <page-comparison-row [jobGroupMappings]="jobGroupToPagesMapping"
                           [selection]="selection" (select)="validateComparisons()"
                           (delete)="onComparisonRowRemove($event)"
                           [removable]="canRemoveRow"></page-comparison-row>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <button type="button" class="btn btn-default btn-block" (click)="addComparison()">
      <i class="fa fa-plus"></i>
      Add Comparison
    </button>
  </div>
</div>
