@import "../../../../styles/colors";

.page-metrics {
  display: flex;
  flex-direction: row;
}

osm-csi-value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  padding: 0 15px;
}

.metric-list {
  flex: 0 1 auto;
  padding: 0 25px;
}
