.description {
  margin-left: 10px;
}

.job-id-table-head {
  font-style: italic;
  font-weight: normal;
}

.job-status-successful {
  color: #2ECC71;
}

.job-status-error {
  color: #EB5E55;
}

.job-date {
  font-weight: bold;
}

.job-id {
  font-style: italic;
}
