#resultSelectionFlatpickr > div > input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: transparent;
}

#resultSelectionFlatpickrSecondField {
  background: transparent;
  cursor: pointer;
}
