# ignore dolphin temp file
*.directory

# ignore eclipse-specifics
.settings
.classpath
.project

# ignore intellij-specifics
*.iml
*.ipr
*.iws
projectFilesBackup
.idea
.slcache/

# ignore sublime-specifics
*.sublime-project
*.sublime-workspace

# ignore build folders 'n results
*.class
bin/
build/
target*/
classes/
out/
web-app/WEB-INF/classes/

# ignore temp files of common text editors
*~
*.orig
# ignore .gradle
.gradle/

# ignore .groovy
.groovy/

# ignore log files
*.log
logs/
*.lnk
src/java/logging.properties

# misc
testorder*.txt
test/resources/**/private_*
node_modules/

# ignore h2 dumps
*.h2.gzip
testDb*

#ignore  dataSource-Config
OpenSpeedMonitor-config.groovy

# ignore karma-install
node_modules/
.asscache

grails-app/assets/javascripts/lib
grails-app/assets/stylesheets/lib
# the bootstrap.js was not created by the plugin
!grails-app/assets/javascripts/lib/bootstrap/bootstrap.js

version.properties