# ignore dolphin temp file
*.directory

# ignore eclipse-specifics
.settings
.classpath
.project

# ignore intellij-specifics
*.iml
*.ipr
*.iws
projectFilesBackup
.idea
.slcache/

# ignore sublime-specifics
*.sublime-project
*.sublime-workspace

# ignore build folders 'n results
*.class
bin/
build/
target*/
classes/
out/
web-app/WEB-INF/classes/

# ignore temp files of common text editors
*~
*.orig
# ignore .gradle
.gradle/

# ignore .groovy
.groovy/

# ignore log files
*.log
logs/
*.lnk
src/java/logging.properties

# misc
testorder*.txt
src/test/resources/**/private_*

# ignore h2 dumps
*.h2.gzip
testDb*

#ignore  dataSource-Config
OpenSpeedMonitor-config.groovy

# ignore npm build files
node_modules/
.asscache

grails-app/assets/javascripts/frontend/
grails-app/assets/javascripts/lib/
grails-app/assets/stylesheets/lib/
# the bootstrap.js was not created by the plugin
!grails-app/assets/javascripts/lib/bootstrap/bootstrap.js

# ci/bamboo specifics
version.properties
# local scripts
scripts/local/

# bower build files (deprecated)
bower_components/
.bowerrc

# local docker tests
docker/local_*
