before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - node_modules
    - frontend/node_modules
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
language: groovy
jdk:
  - openjdk8
jobs:
  include:
    - stage: Tests
      script: ./gradlew -x jasmineRun test
