.status {
	display: block;
}
.running {
	background: center left no-repeat url('../assets/images/spinner.gif');
	padding-left: 20px;
}
.new-col-sec {
	border-left: 1px #ccc solid;
}
label {
	display: inline;
}
