#adjust-barchart-modal {
    color: #333333;
    opacity: 0.5;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    z-index: 500;
    font-size: 25px;
    padding: 6px 12px;
    cursor: pointer;
}

#adjust-barchart-modal:hover,
#adjust-barchart-modal:focus {
    background: #eeeeee;
}

#chart-container {
    position: relative;
}

#inputChartWidth,
#inputChartHeight {
    width: 100px;
    margin-left: 10px;
}