<h1>
  <osm-application-select [selectedApplication]="selectedApplication"
                          [applications]="applications$ | async"
                          (selectedApplicationChange)="updateApplication($event)"></osm-application-select>
</h1>
<div class="main-container" *ngIf="selectedApplication">

  <div class="csi-value card">
    <h2>{{ 'frontend.de.iteratec.osm.applicationDashboard.kpi.title' | translate }}</h2>
    <osm-csi-value [csiValue]="(recentCsiValue$ | async)?.csiDocComplete" [csiDate]="recentCsiDate$ | async"
                   [showLoading]="isLoading" [isBig]="true"
                   [lastResultDate]="selectedApplication.dateOfLastResults"></osm-csi-value>
  </div>
  <osm-csi-graph [csiData]="csiValues$ | async" [recentCsiData]="recentCsiValue$ | async" class="card"></osm-csi-graph>
  <osm-page *ngFor="let metric of pages$ | async" [metricsForPage]="metric"
            [lastDateOfResult]="selectedApplication.dateOfLastResults"></osm-page>
</div>

