
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  margin-left: -20px;

  h2 {
    grid-column: 1 / -1;
    margin: 0 0 0 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  osm-csi-value-big {
    z-index: 1;
    margin: 0 0 30px 20px;
    padding-bottom: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  osm-csi-graph, osm-csi-info {
    z-index: 2;
    grid-column: 2 / -1;
    margin-bottom: 30px;
    padding-left: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  osm-page {
    margin: 0 0 20px 20px;
  }
}
