<h1>
  <osm-application-select [selectedApplication]="selectedApplication"
                          [applications]="applications$ | async"
                          (selectedApplicationChange)="updateApplication($event)"></osm-application-select>
</h1>
<ng-container *ngIf="selectedApplication">
  <osm-application-csi [lastDateOfResults]="selectedApplication.dateOfLastResults"></osm-application-csi>
  <osm-page-list [lastDateOfResult]="selectedApplication.dateOfLastResults"></osm-page-list>
</ng-container>

