@import "colors";

.card {
  background-color: $color-card-background;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.17);
  margin: 0 20px 20px 0;

  &:last-of-type {
    margin: 0 0 20px 0;
  }
}
