@import "colors";

.clickable-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;

  li {
    border-radius: 4px;
    padding: 0 4px;
    &:hover, &:focus {
      background: $color-contour-light;
    }

    &:last-child a {
      border-bottom: 0;

    }
  }

  li a {
    min-width: 30em;
    border-bottom: 1px $color-contour-light solid;
    padding: 0.5em 0;
    color: $color-text-medium;
    display: flex;
    align-items: center;

    &:hover, &:focus {
      text-decoration: none;
    }

    .title, .detail {
      display: block;
    }

    .detail {
      color: $color-text-light;
    }

    aside {
      display: block;
      margin: 0 5px 0 0;
    }
  }

  li.error {
    background: $color-error-light;

    a {
      border-bottom: none;

      span {
        color: $color-error;
      }

      .detail {
        font-size: 12px;
      }

      aside.percentage-aside {
        text-align: center;
        color: $color-error-percentage;
        line-height: 120%;
        margin: 0 12px 0 8px
      }
    }
  }

  li.error:hover {
    background: darken($color-error-light, 5);
  }

  li.warning {
    background: $color-warning-light;

    a {
      border-bottom: none;

      span {
        color: $color-warning;
      }

      .detail {
        font-size: 12px;
      }

      aside.percentage-aside {
        text-align: center;
        color: $color-warning-percentage;
        line-height: 120%;
        margin: 0 12px 0 8px
      }
    }
  }

  li.warning:hover {
    background: darken($color-warning-light, 5);
  }
}
