$color-text-normal: #000000;
$color-text-medium: #333333;
$color-text-light: #606060;
$color-background: #ededed;
$color-card-background: #ffffff;
$color-contour-light: #d6d6d6;
$color-primary: #008cd2;
$color-good: #00bd58;
$color-good-light: #ABE9C8;
$color-warning: #ffa605;
$color-warning-light: #FFE4B4;
$color-error: #fe1d1d;
$color-error-light: #FFDAD9;
