$color-text-normal: #000000;
$color-text-medium: #333333;
$color-text-light: #606060;
$color-background: #ededed;
$color-card-background: #ffffff;
$color-contour-light: #d6d6d6;
$color-primary: #008cd2;
$color-good: #00bd58;
$color-good-light: #9DDEA9;
$color-warning: #CF8116;
$color-warning-light: #FDEDD9;
$color-warning-percentage: #DC8F16;
$color-error: #b70f0a;
$color-error-light: #FCE0E0;
$color-error-percentage: #DC0D00;
