@import "colors";

.content {
  background-color: $color-background;
  padding: 20px;
}

.good {
  color: $color-good;
}

.okay {
  color: $color-warning;
}

.bad {
  color: $color-error;
}

.outdated {
  color: $color-text-light;
}
