@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/clickable-list";

.logo {
  display: block;
  width: 200px;
  margin: 0 auto $default-padding auto;
}

main {
  display: flex;
  width: 100%;
  align-content: space-between;
  align-items: flex-start;

  &.center {
    justify-content: center;
  }
}

h2 {
  font-weight: normal;
}

p.applicationName {
  font-weight: bold;
}

.clickable-list {
  li {
    a {
      margin-bottom: 2px;

      p.percentage-big {
        font-size: 18px;
      }

      p.percentage {
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
