@import "../../../styles/colors";
@import "../../../styles/variables";

.logo {
  display: block;
  width: 200px;
  margin: 0 auto $default-padding auto;
}

main {
  display: flex;
}

.loading {
  display: block;
  text-align: center;
  margin: 5em 0;
}

figure.status {
  margin-bottom: $default-padding;
  padding: $default-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 250px;
  }
  figcaption {
    text-align: center;
    color: $color-text-light;
  }
}

.clickable-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;

  li {
    border-radius: 4px;
    padding: 0 4px;
    &:hover, &:focus {
      background: $color-contour-light;
    }

    &:last-child a {
      border-bottom: 0;

    }
  }

  li a {
    min-width: 30em;
    border-bottom: 1px $color-contour-light solid;
    padding: 0.5em 0;
    color: $color-text-medium;
    display: flex;
    align-items: center;

    &:hover, &:focus {
      text-decoration: none;
    }

    .title, .detail {
      display: block;
    }

    .detail {
      color: $color-text-light;
    }

    aside {
      display: block;
      border-radius: 50%;
      border: 4px red solid;
      width: 35px;
      height: 35px;
      line-height: 27px;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
      margin: 0 10px 0 0;
    }
  }

}


