osm-threshold {
  display: block;
  margin-bottom: 20px;
}

.threshold-group {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.measured-event-name {
  flex: 0 1 20%;
  margin-right: 20px;
}

label.measured-event-name {
  font-size: 1em;
  font-weight: bold;
  word-break: break-all;
  margin-bottom: 20px;
}

.flex-column-right {
  flex-basis: 700px;
  flex-grow: 1;
  button {
    width: auto;
  }
}
