<div class="threshold-group">
  <label class="measured-event-name" *ngIf="!thresholdGroup?.isNew">{{thresholdGroup?.measuredEvent?.name}}</label>
  <select *ngIf="thresholdGroup?.isNew && newThreshold" class="measured-event-name form-control"
          [(ngModel)]="newThreshold.measuredEvent"
          required>
    <option *ngFor="let measuredEvent of unusedMeasuredEvents"
            [ngValue]="measuredEvent">{{measuredEvent.name}}
    </option>
  </select>
  <div class="flex-column-right">
    <osm-threshold *ngFor="let threshold of thresholdGroup?.thresholds"
                   [threshold]="threshold"
                   [unusedMeasurands]="unusedMeasurands"
                   (removeOldThreshold)="removeThreshold()"
                   (addedThreshold)="addedThreshold()"
                   (cancelEvent)="cancelNewThreshold()"></osm-threshold>

    <osm-threshold *ngIf="newThreshold"
                   [threshold]="newThreshold"
                   [unusedMeasurands]="unusedMeasurands"
                   (removeOldThreshold)="removeThreshold()"
                   (addedThreshold)="addedThreshold()"
                   (cancelEvent)="cancelNewThreshold()"></osm-threshold>

    <button *ngIf="!thresholdGroup?.isNew" type="button" class="btn btn-primary"
            [disabled]="addThresholdDisabled"
            (click)="addThreshold()">{{"frontend.job.threshold.add" | translate}}
    </button>
  </div>
</div>
<hr>
