<img class="logo" src="/assets/frontend/OpenSpeedMonitor_dark.svg" alt="OpenSpeedMonitor"/>
<main>
  <div class="card">
    <h2>{{ "frontend.de.iteratec.osm.landing.incomplete-setup-title" | translate}}</h2>
    <osm-empty-state image="undraw_setup_wizard.svg"
                     messageKey="frontend.de.iteratec.osm.landing.incomplete-setup-message"></osm-empty-state>
    <a href="/infrastructureSetup" class="btn btn-primary" id="continue-setup">
      {{ "frontend.de.iteratec.osm.landing.continue-setup" | translate }}
    </a>
  </div>
</main>
