<div class="col-md-offset-1">
  <div *ngIf="measuredEvent.state=='normal'">
    <label class="measuredEventLabel">{{measuredEvent.name}}</label>
    <button type="button"
            class="btn btn-success"
            (click)="add()">+</button>

    <osm-threshold *ngFor="let threshold of thresholds"
                   [threshold]="threshold"
                   [measuredEventList]="measuredEventList"
                   [allowthresholdAdd]="allowthresholdAdd"
                   (removeEvent)="removeThreshold()"></osm-threshold>
  </div>
  <div *ngIf="measuredEvent.state=='new'">
    <osm-threshold *ngFor="let threshold of thresholds"
                   [threshold]="threshold"
                   [measuredEventList]="measuredEventList"
                   [allowthresholdAdd]="allowthresholdAdd"
                   (removeEvent)="removeMeasuredEvent()"></osm-threshold>
  </div>

<!--  <osm-threshold *ngIf="allowthreshold"
    [threshold]="newThreshold"></osm-threshold>-->
</div>

