@import "../../../../../styles/colors";

.info-container {
  min-height: 175px;
  border: $color-contour-light solid 1px;
  border-radius: 10px;
  margin: 0 40px 30px 50px;
}

.csi-info {
  display: flex;
  height: 175px;
  align-items: center;
  justify-content: center;
}

.icon-info {
  text-align: center;
  font-size: 40px;
  color: $color-primary;
  padding: 0 20px;
  margin: 0 20px;
}

.icon-warning {
  text-align: center;
  font-size: 40px;
  color: $color-warning;
  padding: 0 20px;
  margin: 0 20px;
}

.info-text {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  max-width: 800px;
  margin-right: 20px;
  color: $color-text-normal;
}

.info-button {
  position: relative;
  bottom: 60px;
  float: right;
  color: $color-background;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 30px;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.info-button:hover {
  opacity: 1;
}
