.flex-container {
  display: flex;
  /*align-items: space-around;*/
  justify-content: flex-start;
  align-content: center;
  line-height: 2;
  margin-right: 2%;
}

.flex-item {
  margin: auto;
  margin-right: 2%;
  flex-grow: 1;
  /*padding-right: 1%;*/
}

.flex-input-item {
  flex-grow: 2;
  max-width: 9.4em;
  font-size: 1.2em;
  text-align: right;
}


.good {
  color: #2ECC71;
  font-size: 1.15em;
  font-weight: bold;
  text-align: right;
}

.bad {
  color: #EB5E55;
  font-size: 1.15em;
  font-weight: bold;
  text-align: left;
}

.ok {
  color: #FFC762;
  font-size: 1.15em;
  font-weight: bold;
  text-align: center;
}

.symbol {
  font-size: 1.15em;
  font-weight: bold;
  text-align: center;
}
