<div class="flex-container">
  <div class="flex-item good">Gut</div>
  <div class="flex-item symbol"><</div>
  <div class="input-group  flex-input-item">
    <input [(ngModel)]="lowerBoundary" type="number" min="1" size="40" maxlength="12" [readonly]="false"
           (change)="onLowerInput($event)" class="form-control">
    <div class="input-group-addon">ms</div>
  </div>
  <div class="flex-item symbol"><</div>
  <div class="flex-item ok">Ok</div>
  <div class="flex-item symbol"><</div>
  <div class="input-group flex-input-item">
    <input [(ngModel)]="upperBoundary" type="number" min="1" size="40" maxlength="12" [readonly]="false"
           (change)="onUpperInput($event)" class="form-control">
    <div class="input-group-addon">ms</div>
  </div>
  <div class="flex-item symbol"><</div>
  <div class="flex-item bad">Schlecht</div>

  <!--Buttons to save-->
  <div *ngIf="thresholdState=='new'" class="flex-container">
    <div class="flex-item">
      <button type="button"
              class="btn btn-success btn-sm"
              [disabled]="leftButtonLabelDisable"
              (click)="save()">{{leftButtonLabel}}
      </button>
    </div>
    <div class="flex-item">
      <button type="button"
              class="btn btn-danger btn-sm"
              (click)="cancel()">{{rightButtonLabel}}
      </button>
    </div>
  </div>
  <!--Buttons to Edit-->
  <div *ngIf="thresholdState=='normal' && !deleteConfirmation" class="flex-container">
    <div class="flex-item">
      <button type="button"
              class="btn btn-primary btn-sm"
              [disabled]="leftButtonLabelDisable"
              (click)="edit()">{{leftButtonLabel}}
      </button>
    </div>
    <div class="flex-item">
      <button type="button"
              class="btn btn-danger btn-sm"
              (click)="delete()">{{rightButtonLabel}}
      </button>
    </div>
  </div>

  <!--Buttons to delete-->
  <div *ngIf="thresholdState=='normal' && deleteConfirmation" class="flex-container"> Sicher?
    <div class="flex-item">
      <button type="button"
              class="btn btn-success btn-sm"
              [disabled]="leftButtonLabelDisable"
              (click)="delete()">{{leftButtonLabel}}
      </button>
    </div>
    <div class="flex-item">
      <button type="button"
              class="btn btn-danger btn-sm"
              (click)="cancelDelete()">{{rightButtonLabel}}
      </button>
    </div>
  </div>


</div>
