<div class="threshold-row">
  <span class="good">{{"frontend.job.threshold.good" | translate}}</span>
  <span>&lt;</span>

  <div class="input-group">
    <input [(ngModel)]="lowerBoundary" type="number" min="1" size="40" maxlength="12" [readonly]="!editMode"
           (input)="validateInput()" class="form-control">
    <div class="input-group-addon">ms</div>
  </div>

  <span>&lt;</span>
  <span class="okay">Ok</span>
  <span>&lt;</span>

  <div class="input-group">
    <input [(ngModel)]="upperBoundary" type="number" min="1" size="40" maxlength="12" [readonly]="!editMode"
           (input)="validateInput()" class="form-control">
    <div class="input-group-addon">ms</div>
  </div>

  <span>&lt;</span>
  <span class="bad">{{"frontend.job.threshold.bad" | translate}}</span>

  <!--Buttons to save-->
  <ng-container *ngIf="editMode">
    <button type="button" class="btn btn-success btn-sm"
            [disabled]="leftButtonLabelDisable"
            (click)="save()">{{"frontend.job.threshold.submit" | translate}}
    </button>
    <button type="button" class="btn btn-danger btn-sm"
            (click)="cancel()">{{"frontend.job.threshold.discard" | translate}}
    </button>
  </ng-container>

  <!--Buttons to Edit-->
  <ng-container *ngIf="!editMode && !deleteConfirmation">
    <button type="button" class="btn btn-primary btn-sm"
            [disabled]="leftButtonLabelDisable"
            (click)="edit()">{{"frontend.job.threshold.edit" | translate}}
    </button>
    <button type="button" class="btn btn-danger btn-sm"
            (click)="delete()">{{"frontend.job.threshold.delete" | translate}}
    </button>
  </ng-container>

  <!--Buttons to delete-->
  <ng-container *ngIf="!editMode && deleteConfirmation">
    <span>{{"frontend.job.threshold.deleteSure" | translate}}</span>
    <button type="button" class="btn btn-success btn-sm"
            [disabled]="leftButtonLabelDisable"
            (click)="delete()">{{"frontend.job.threshold.deleteYes" | translate}}
    </button>
    <button type="button" class="btn btn-danger btn-sm"
            (click)="cancelDelete()">{{"frontend.job.threshold.deleteNo" | translate}}
    </button>
  </ng-container>
</div>
