<h2>{{metricsForPage?.pageName}} <osm-performance-aspect-management class="aspect-management" [pageId]="metricsForPage?.pageId"></osm-performance-aspect-management></h2>
<div class="page-metrics">
  <osm-csi-value-medium [csiValue]="pageCsi$ | async" [csiDate]="pageCsiDate$ | async"
                        [showLoading]="isLoading" [lastResultDate]="lastDateOfResult"></osm-csi-value-medium>
  <div class="metric-list">
    <osm-page-metric [value]="transform(convertMillisecsToSecs(metricsForPage?.speedIndex))"
                     [metric]="metrics.SPEED_INDEX"></osm-page-metric>
    <osm-page-metric [value]="transform(convertMillisecsToSecs(metricsForPage?.docCompleteTimeInMillisecs))"
                     [metric]="metrics.DOCUMENT_COMPLETE"></osm-page-metric>
    <osm-page-metric [value]="transform(convertToMib(metricsForPage?.fullyLoadedIncomingBytes))"
                     [metric]="metrics.BYTES_FULLY_LOADED"></osm-page-metric>
  </div>
</div>
