<h2>
  {{metricsForPage?.pageName}}
  <a *ngIf="grailsBridgeService.globalOsmNamespace.user.loggedIn" [routerLink]="['/aspectConfiguration', application.id, metricsForPage?.pageId]"><i
    class="fas fa-cog icon-right"></i></a>
</h2>
<div class="page-metrics">
  <osm-csi-value-medium [csiValue]="pageCsi$ | async" [csiDate]="pageCsiDate$ | async"
                        [showLoading]="isLoading" [lastResultDate]="lastDateOfResult"></osm-csi-value-medium>
  <div class="metric-list">
    <osm-page-metric [value]="transform(convertMillisecsToSecs(metricsForPage?.PAGE_CONSTRUCTION_STARTED))"
                     [metric]="findCorrectPerformanceAspectType(PerformanceAspectTypes.PAGE_CONSTRUCTION_STARTED)"></osm-page-metric>
    <osm-page-metric [value]="transform(convertMillisecsToSecs(metricsForPage?.PAGE_SHOWS_USEFUL_CONTENT))"
                     [metric]="findCorrectPerformanceAspectType(PerformanceAspectTypes.PAGE_SHOWS_USEFUL_CONTENT)"></osm-page-metric>
    <osm-page-metric [value]="transform(convertMillisecsToSecs(metricsForPage?.PAGE_IS_USABLE))"
                     [metric]="findCorrectPerformanceAspectType(PerformanceAspectTypes.PAGE_IS_USABLE)"></osm-page-metric>
  </div>

</div>
