@import "../../../../../styles/colors";

.page-metrics {
  display: flex;
}

i.icon-right {
  float: right;
}

osm-csi-value-medium {
  flex: 1 1 0;
  padding-right: 20px;
}

.metric-list {
  flex: 1 1 0;
}

.aspect-management {
  float: right;
}
