#archivedNavigationScriptColumn .CodeMirror-scroll {
    margin-right: 7px;
    max-height: 700px;
    min-height: 700px;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #ccc;
}
#versionControlModal .modal-lg{
    width: 1700px;
}
.versionControlMinCellWidth{
    width: 180px;
}
.highlight td {
    background-color: lightgrey;
}

#archivedNavigationScriptTableWrapper {
    position:relative;
}
#archivedNavigationScriptTableScroll {
    height:700px;
    overflow:auto;
    margin-top:20px;
}
#archivedNavigationScriptTableWrapper table {
    width:100%;
}
#archivedNavigationScriptTableWrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
}
.float-right{
    float: right;
}
.script-textarea{
    resize: none;
    overflow-y: hidden ;
    height: 100%;
    width: 100%;
}
.script-save-abort-container{
    position: relative;
    top: 0px;
    left: 0px;
    float: right;
}
.script-icon {
    padding: 5px 8px;
    border-radius: 4px;
    display: block;
}

.script-icon:hover {
    background-color: rgba(0, 0, 255, 0.12);
    padding: 5px 8px;
    border-radius: 4px;
    display: block;
}
