@import "../../../../../styles/colors";

osm-base-csi-value {
  .csi-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    svg {
      display: block;
    }
  }

  .csi-value-text, .csi-value-description, .csi-value-small {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
  }

  .csi-value-text, .csi-value-small {
    font-weight: bold;
    color: $color-text-normal;
    line-height: 0;

    &::after {
      // this way the text is positioned by its baseline
      content: "";
      display: inline-block;
    }
  }

  .csi-value-text {
    bottom: 50%;
  }

  .csi-value-description {
    color: $color-text-medium;
    top: 50%;
    line-height: 1em;
  }

  .hint {
    .hint-container {
      cursor: help;
      //z-index: 10;
      position: relative;
    }
    .csi-value-description {
      text-decoration: underline dotted $color-text-medium;
    }
  }
}
