.measurand-select {
  text-align: left;
}

.select-measurand-triangle {
  margin-left: 10px;
  float: right;
}

.dropdown-menu {
  min-width: 100%;
}

.dropdown {
  width: inherit;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
