<osm-menu></osm-menu>

<div *ngIf="showTimeSeriesChart" class="action-row">
  <div class="col-md-12">
    <osm-time-series-line-chart [timeSeriesResults]="results$ | async"></osm-time-series-line-chart>
  </div>
</div>

<osm-result-selection (submit)="getTimeSeriesChartData()" [applicationsRequired]="true" [browser]="true"
                      [connectivity]="true" [location]="true" [measurandsRequired]="true" [measuredStep]="true"
                      [multipleMeasurands]="true" [page]="true" [pagesRequired]="true"
                      [timeFrameAggregation]="true"></osm-result-selection>
