<div class="filmstrip-container">
  <div class="filmstrip-item"
       *ngFor="let thumbnail of filmStrip$ | async"
       [class.has-change]="thumbnail.hasChange || thumbnail.timings.length"
       [class.highlighted]="thumbnail.isHighlighted"
       (mouseover)="positionTimings($event)"
  >
    <span class="time">{{formatTime(thumbnail.time, 1)}}</span>
    <img [src]="thumbnail.imageUrl" />
    <ul class="timings" *ngIf="thumbnail.timings.length">
      <li *ngFor="let timing of thumbnail.timings">{{timing.metric}}: {{formatTime(timing.time, 3)}}</li>
    </ul>
  </div>
</div>
