.filmstrip-container {
  display: flex;
  padding: 0 5px 5px 5px;
}

.filmstrip-item {
  color: white;
  padding: 5px;

  img{
    height: 150px;
    filter: brightness(50%);
    transition: filter 0.2s ease;
  }
  &.highlighted img, &:hover img {
    filter: brightness(100%);
  }
  .time {
    display: block;
    text-align: center;
    padding: 0 5px 5px 5px;
  }
  &.has-change .time {
    font-weight: bold;
  }

  .timings {
    list-style: none;
    padding: 5px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: none;
    border-radius: 4px;
  }
  &:hover .timings {
    display: block;
  }
}
