.filmstrip-container {
  display: flex;
  padding: 0 5px 5px 5px;
}

.filmstrip-item {
  img{
    height: 150px;
    filter: brightness(50%);
    transition: filter 0.2s ease;
  }
  &.highlighted img, &:hover img {
    filter: brightness(100%);
  }
  .time {
    display: block;
    text-align: center;
    color: white;
    padding: 0 5px 5px 5px;
  }
  &.has-change .time {
    font-weight: bold;
  }
  padding: 5px;
}
