<div *ngIf="csiValues">
  <div *ngIf="csiValues.hasCsiConfiguration; then returnCsi else returnError"></div>
  <ng-template #returnCsi>
    <div *ngIf="recentCsiValue; then recentCsi else noRecentCsi"></div>
    <ng-template #recentCsi>
      CSI ({{recentCsiValue.date}}): <span style="color: cornflowerblue;">{{recentCsiValue.csiDocComplete}}</span>
    </ng-template>
    <ng-template #noRecentCsi>
      No CSI available
    </ng-template>
  </ng-template>
  <ng-template #returnError>
    <p style="color: red">CSI is not configured for this Job Group!</p>
  </ng-template>
</div>
