<h1>{{ 'frontend.de.iteratec.osm.performance-aspects' | translate }}: {{(application$ | async)?.name}}
  - {{(page$ | async)?.name}}</h1>
<a (click)="deselectPage()" [routerLink]="['/applicationDashboard', (application$ | async)?.id || '']">
  <i class="fas fa-arrow-left"></i>
  {{ 'frontend.back.label.neuter' | translate }}
  {{(application$ | async)?.name}}
  {{ 'frontend.de.iteratec.osm.dashboard' | translate }}
</a>
<div class="grid-container">
  <div *ngFor="let aspectType of (aspectTypes$ | async)?.data" class="card">
    <osm-aspect-metrics [application]="application$ | async" [page]="page$ | async"
                        [actualType]="aspectType" class="aspect-inspect"></osm-aspect-metrics>
  </div>
</div>

<ng-template #isLoading>
  <div>
    <p>{{"frontend.de.iteratec.osm.queueDashboard.load-information.label" | translate}}</p>
  </div>
</ng-template>
