<img class="logo" src="/assets/OpenSpeedMonitor_dark.svg" alt="OpenSpeedMonitor"/>

<main>
  <section class="card applications">
    <h2>{{ 'frontend.de.iteratec.osm.landing.yourApplications' | translate }}</h2>
    <span class="loading" *ngIf="showApplicationLoading$ | async">
      Loading...
    </span>
    <figure class="status" *ngIf="showApplicationEmptyState$ | async">
      <img src="/assets/undraw_fast_loading.svg" [alt]="'frontend.de.iteratec.osm.landing.nothingSetUp' | translate"/>
      <figcaption>{{ 'frontend.de.iteratec.osm.landing.nothingSetUp' | translate }}</figcaption>
    </figure>
    <ul class="clickable-list" *ngIf="applications$ | async; let applications">
      <li *ngFor="let application of applications">
        <a [routerLink]="['/applicationDashboard', application.id]">
          <aside>{{application.csi.toFixed(0)}}%</aside>
          <span class="title">{{application.name}}
            <span class="detail">{{application.numPages}} Pages</span>
          </span>
        </a>
      </li>
    </ul>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      {{ 'frontend.de.iteratec.osm.landing.setupNewMeasurement' | translate}}
    </button>
  </section>

</main>
