@import "../../../../../styles/colors";

osm-line-chart {
  svg.metric-finder {
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 200px;
    background: $color-card-background;
  }

  path.line {
    stroke: $color-primary;
    fill: none;
  }

  .y-axis, .x-axis {
    color: $color-contour-light;

    text {
      color: $color-text-light;
    }
  }

  .mouse-over-line {
    stroke: $color-contour-medium;
  }

  .mouse-over-point {
    stroke: $color-primary;
    stroke-width: 2;
    fill: $color-card-background;
  }
}

