<p>Jobs</p>
<ng-container *ngIf="!failingJobStatistic; then showEmpty else showMessages"></ng-container>

<ng-template #showMessages>
  <ng-container *ngIf="failingJobStatistic?.numberOfFailingJobs === 0; then showGood else showWarningOrErrorMessage"></ng-container>
</ng-template>

<ng-template #showWarningOrErrorMessage>
  <ng-container *ngIf="(failingJobStatistic.minimumFailedJobSuccessRate >= 80 && failingJobStatistic.minimumFailedJobSuccessRate < 90); then showWarning"></ng-container>
  <ng-container *ngIf="failingJobStatistic.minimumFailedJobSuccessRate < 80; then showError"></ng-container>
</ng-template>

<ng-template #showEmpty>
  <ul class="clickable-list">
    <li>
      <a href="/job/index#/jobGroup={{selectedApplication.name}}">
        <aside>
          <i class="far fa-question-circle"></i>
        </aside>
        <ng-container>{{'frontend.de.iteratec.osm.applicationDashboard.jobStatus.noInformationAvailable' | translate}}</ng-container>
      </a>
    </li>
  </ul>
</ng-template>

<ng-template #showGood>
  <ul class="clickable-list">
    <li class="job-status-good">
      <a href="/job/index#/jobGroup={{selectedApplication.name}}">
        <aside>
          <i class="fas fa-check-circle"></i>
        </aside>
        <ng-container>{{'frontend.de.iteratec.osm.applicationDashboard.jobStatus.allJobsRunning' | translate}}</ng-container>
      </a>
    </li>
  </ul>
</ng-template>

<ng-template #showWarning>
  <ul class="clickable-list">
    <li class="job-status-warning">
      <a href="/job/index#/jobGroup={{selectedApplication.name}}">
        <aside>
          <i class="fas fa-exclamation-circle"></i>
        </aside>
        <ng-container *ngIf="failingJobStatistic.numberOfFailingJobs === 1">
          {{'frontend.de.iteratec.osm.applicationDashboard.jobStatus.oneFailingJob' | translate:{numberOfFailingJobs: failingJobStatistic.numberOfFailingJobs} }}
        </ng-container>
        <ng-container *ngIf="failingJobStatistic.numberOfFailingJobs > 1">
          {{'frontend.de.iteratec.osm.applicationDashboard.jobStatus.multipleFailingJobs' | translate:{numberOfFailingJobs: failingJobStatistic.numberOfFailingJobs} }}
        </ng-container>
        <aside class="angle-icon">
          <i class="fas fa-angle-right fa-lg"></i>
        </aside>
      </a>
    </li>
  </ul>
</ng-template>

<ng-template #showError>
  <ul class="clickable-list">
    <li class="job-status-error">
      <a href="/job/index#/jobGroup={{selectedApplication.name}}">
        <aside>
          <i class="fas fa-exclamation-circle"></i>
        </aside>
        <ng-container *ngIf="failingJobStatistic.numberOfFailingJobs === 1">
          {{'frontend.de.iteratec.osm.applicationDashboard.jobStatus.oneFailingJob' | translate:{numberOfFailingJobs: failingJobStatistic.numberOfFailingJobs} }}
        </ng-container>
        <ng-container *ngIf="failingJobStatistic.numberOfFailingJobs > 1">
          {{'frontend.de.iteratec.osm.applicationDashboard.jobStatus.multipleFailingJobs' | translate:{numberOfFailingJobs: failingJobStatistic.numberOfFailingJobs} }}
        </ng-container>
        <aside class="angle-icon">
          <i class="fas fa-angle-right fa-lg"></i>
        </aside>
      </a>
    </li>
  </ul>
</ng-template>

<p>Integrations</p>
<ul class="clickable-list">
  <li class="integrations"><a href="x">Job Status</a></li>
</ul>

<a href="/job/index#/jobGroup={{selectedApplication.name}}" class="btn btn-default">{{'frontend.de.iteratec.osm.applicationDashboard.jobStatus.showJobsButton' | translate}}</a>
