.flex-row-group {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  line-height: 2;
}

.flex-column-left {
  flex: 0 1 21%;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
  margin-right: 1%;
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content:flex-end;
  margin-left: 2%;
  line-height: 2;
  flex-basis: 700px;
}

.flex-up {
  font-weight: bold;
}

.flex-down {
  margin-top: 2%;
  font-weight: bold;
}

.measuredEvent {
  font-size: 1em;
  font-weight: bold;
  word-break: break-all;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}



