
.thresholdContainer {
  width: auto;
  display: block;
}

.flex-row-group {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  line-height: 2;
}

.flex-column-left {
  flex: 0 1 200px;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
  margin-right: 2%;
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content:flex-end;
  /*
  align-items: flex-start;
  */
  line-height: 2;
  flex-basis: 800px;
}

.flex-up {
  font-weight: bold;
}

.flex-down {
  margin-top: 2%;
  font-weight: bold;
}

.measuredEvent {
  font-size: 1em;
  font-weight: bold;
  word-break: break-all;

}


