<div class="flex-column">
  <div class="flex-row-item">
    <label class="threshold" *ngIf="threshold?.state!='new'">{{threshold.measurand.translationsKey | translate}} </label>
    <select class="thresholdSelects" *ngIf="threshold?.state=='new'" [(ngModel)]="selectedMeasurand" required>
      <option *ngFor="let measurand of unusedMeasurands" [value]="measurand.translationsKey">
        {{measurand.translationsKey | translate}}
      </option>
    </select>
  </div>
  <div class="flex-row-group">
    <osm-threshold-row
      [thresholdState]="threshold.state"
      [lowerBoundary]="threshold.lowerBoundary"
      [upperBoundary]="threshold.upperBoundary"
      (editThreshold)="edit($event)"
      (deleteThreshold)="delete()"
      (saveNew)="saveNew($event)"
      (cancelNew)="cancelNew()"></osm-threshold-row>
  </div>
</div>
