.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-row-item {
  flex-basis: auto;
  margin-bottom: 1%;
}

.flex-row-group {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  align-content: center;
  margin-left: 2%;
  margin-bottom: 1%;
}

.flex-container {
  display: flex;
  /*align-items: space-around;*/
  justify-content: flex-start;
  align-content: center;
  line-height: 2;
  margin-right: 2%;
  margin-top: 1%;

}

.flex-item {
  margin: auto;
  margin-right: 2%;
  /*padding-right: 1%;*/
}

.threshold {
  font-size: 1em;
  font-weight: bold;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

/*New Threshold/MeasuredEvent*/
.thresholdSelects {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  width: auto;
  font-size: 1.2em;
  border: 1px solid #999;
}

/*Parent style*/

.flex-row-group-parent {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  line-height: 2;
}

.flex-column-left {
  flex: 0 1 230px;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content:flex-end;
  line-height: 2;
  flex-basis: 800px;
}

.flex-up {
  font-weight: bold;
}

.measuredEvent {
  font-size: 1em;
  font-weight: bold;
}

