<div>
  <div *ngIf="threshold.state=='normal'">
    <div class="flex-column">
      <div class="flex-row-item">
        <label class="threshold">{{threshold.measurand.name}} </label>
      </div>
      <div class="flex-row-group">
        <osm-threshold-row
          [thresholdState]="threshold.state"
          [lowerBoundary]="threshold.lowerBoundary"
          [upperBoundary]="threshold.upperBoundary"
          (editThreshold)="edit()"
          (deleteThreshold)="delete()"
          (saveNew)="saveNew($event)"
          (cancelNew)="cancelNew()"></osm-threshold-row>
      </div>
    </div>
  </div>

  <!--New Measured Event-->
    <div class="flex-row-group-parent" *ngIf="threshold.measuredEvent.state=='new' && threshold.state=='new'">
      <div class="flex-column-left">
        <select class="thresholdSelects"
                [(ngModel)]="selectedMeasuredEvent"
                required>
          <option *ngFor="let measuredEvent of measuredEventList" [ngValue]="measuredEvent">{{measuredEvent.name}}</option>
        </select>
      </div>
      <div class="flex-column-right">
        <div class="">
          <div class="flex-column">
            <div class="flex-row-item">
              <select class="thresholdSelects"
                      [(ngModel)]="selectedMeasurand"
                      required>
                <option *ngFor="let measurand of actualMeasurandList" [value]="measurand.name">{{measurand.name}}</option>
              </select>
            </div>
            <div class="flex-row-group">
              <osm-threshold-row
                [thresholdState]="threshold.state"
                [lowerBoundary]="threshold.lowerBoundary"
                [upperBoundary]="threshold.upperBoundary"
                (editThreshold)="edit()"
                (deleteThreshold)="delete()"
                (saveNew)="saveNew($event)"
                (cancelNew)="cancelNew()"></osm-threshold-row>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--New Threshold-->
  <div  *ngIf="threshold.state=='new' && threshold.measuredEvent.state=='normal'">
    <div class="flex-column">
      <div class="flex-row-item">
        <select class="thresholdSelects"
                [(ngModel)]="selectedMeasurand"
                required>
          <option *ngFor="let measurand of actualMeasurandList" [value]="measurand.name">{{measurand.name}}</option>
        </select>
      </div>
      <div class="flex-row-group">
        <osm-threshold-row
          [thresholdState]="threshold.state"
          [lowerBoundary]="threshold.lowerBoundary"
          [upperBoundary]="threshold.upperBoundary"
          (editThreshold)="edit()"
          (deleteThreshold)="delete()"
          (saveNew)="saveNew($event)"
          (cancelNew)="cancelNew()"></osm-threshold-row>
      </div>
    </div>
  </div>

</div>

