@import "../../../../../../styles/colors";

.dropdown-item {
  padding: 0 1em;
  color: $color-text-medium;
  display: flex;
  align-items: center;
  font-weight: normal;
  white-space: pre;
  min-height: 1.2em;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.selectable {
  &:hover, &:focus {
    cursor: pointer;
    background-color: $color-primary;
    color: $color-card-background;
  }
}


.dropdown-group {
  padding: 0 0.5em;
  margin: 10px 0;
}

