.one-indent {
  padding: 2px 1em 2px 1em;
}

.two-indent {
  padding: 2px 1em 2px 2em;
}

.chevron-large {
  font-size: large;
  cursor: pointer;
}

.new-col-sec {
  border-left: 2px #ccc solid;
}

.job-row {
  display: table-row;
}
