@import "../application-job-status.component";

.clickable-list.integrations {
  li {
    border: 1px solid $color-contour-light;
    a {
      margin-left: 10px;
      min-width: initial;
      i {
        margin-right: 5px;
      }
      .active-integration {
        color: $color-primary;
      }
    }
  }

  .integration-info {
    flex-wrap: wrap;
    i {
      color: darken($color-contour-light, 10%);
    }
    .right-hand-icon {
      margin-left: auto;
    }
    small {
      flex-basis: 100%;
      margin-left: 22.5px;
    }
  }
}

ngx-smart-modal {

  main {
    min-height: 20em;
    display: flex;
    flex-wrap: wrap;
    section {
      padding: 10px;
    }
  }

  footer {
    font-style: italic;
    margin: 0 2em;
    text-align: center;
  }

  .server-overview {
    width: 25em;

    .dropdown {
      margin-bottom: 1em;
      .select-graphite-server {
        width: 100%;
      }
      .dropdown-menu {
        width: 100%;
        a {
          cursor: pointer;
          &:hover {
            background: $color-contour-light;
          }
        }
      }
    }

    .clickable-list li a {
      cursor: pointer;
      min-width: initial;
      .right-hand-icon {
        margin-left: auto;
        align-self: flex-start;
        color: darken($color-contour-light, 10%);
      }
      .right-hand-icon:hover {
        color: darken($color-contour-light, 30%);
      }
    }
    .detail {
      font-size: smaller;
    }
  }
  .server-detail {
    margin-left: 50px;
    table {
      border-spacing: 1em;
      border-collapse: initial;
      td:nth-of-type(1) {
        text-align: right;
      }
      td:nth-of-type(2) {
        font-weight: bold;
      }
    }
  }

  .buttons {
    height: 3em;
    a {
      float: right;
      width: 100px;
      margin: 0 10px;
    }
  }
}
