@import "../application-job-status.component";

.clickable-list.integrations {
  li {
    border: 1px solid $color-contour-light;
    a {
      margin-left: 10px;
      min-width: initial;
      i {
        margin-right: 5px;
      }
    }
  }

  .integration-info {
    flex-wrap: wrap;
    i {
      color: darken($color-contour-light, 10%);
    }
    .right-hand-icon {
      margin-left: auto;
    }
    small {
      flex-basis: 100%;
      margin-left: 22.5px;
    }
  }
}

ngx-smart-modal {

  main {
    min-height: 15em;
    display: flex;
    flex-wrap: wrap;
    section {
      padding: 10px;
    }
  }

  footer {
    font-style: italic;
    margin: 0 2em;
  }

  .server-overview {
    min-width: 20em;

    .dropdown {
      margin-bottom: 1em;
      .select-graphite-server {
        width: 100%;
        border: 1px solid $color-contour-light;
        border-radius: 5px;
        background-color: transparent;
        i {
          margin-left: auto;
          background: $color-background;
        }
      }
      .dropdown-item {
        cursor: pointer;
      }
    }


    .clickable-list li a {
      min-width: initial;
      .right-hand-icon {
        margin-left: auto;
        align-self: flex-start;
        color: darken($color-contour-light, 10%);
      }
    }
  }
  .server-detail {
    table {
      border-spacing: 1em;
      border-collapse: initial;
      td:nth-of-type(1) {
        text-align: right;
      }
      td:nth-of-type(2) {
        font-weight: bold;
      }
    }
  }
}
