<ul class="clickable-list integrations">
  <li>
    <a href="#" (click)="ngxSmartModalService.getModal('graphiteIntegrationModal').open()" class="integration-info">
      <aside>
        <i class="fas fa-rss"></i>
      </aside>
      Job Status Integration
      <aside class="right-hand-icon">
        <i class="fas fa-cog"></i>
      </aside>
      <small>Graphite server not configured</small>
    </a>
  </li>
</ul>

<ngx-smart-modal id="graphiteIntegrationModal" identifier="graphiteIntegrationModal" (onAnyCloseEventFinished)="detailData = null">
  <h2>Graphite</h2>
  <hr>
  <main>
    <section class="server-overview">

      <div class="dropdown">
        <button class="select-graphite-server dropdown-toggle" type="button" id="selectGraphiteServer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Graphite Server
          <i class="fas fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="selectGraphiteServerId">
          <li>
            <a class="dropdown-item" *ngFor="let graphiteServer of availableGraphiteServers$ | async" (click)="addGraphiteServer(graphiteServer)">
              {{ graphiteServer.address }}
            </a>
          </li>
        </ul>
      </div>

      <ul class="clickable-list">
        <li *ngFor="let jobHealthGraphiteServer of jobHealthGraphiteServers$ | async">
          <a href="#" (click)="detailData = jobHealthGraphiteServer">
          <span class="title">
            {{ jobHealthGraphiteServer.address }}
            <span class="detail">
              {{ jobHealthGraphiteServer.prefix ? jobHealthGraphiteServer.prefix : 'none' }}.job-health.
            </span>
          </span>
            <aside class="right-hand-icon" (click)="removeGraphiteServer(jobHealthGraphiteServer)">
              <i class="fas fa-times"></i>
            </aside>
          </a>
        </li>
      </ul>
    </section>
    <section class="server-detail" *ngIf="detailData">
      <table>
        <tr>
          <td>Graphite Server Address</td>
          <td>{{detailData.address}}</td>
        </tr>
        <tr>
          <td>Graphite Server Port</td>
          <td>{{detailData.port}}</td>
        </tr>
        <tr>
          <td>Graphite Protocol</td>
          <td>{{detailData.protocol}}</td>
        </tr>
        <tr>
          <td>Web App URL</td>
          <td>{{detailData.webAppAddress}}</td>
        </tr>
        <tr>
          <td>Path Prefix</td>
          <td>{{detailData.prefix ? detailData.prefix : "none"}}</td>
        </tr>
      </table>
    </section>
  </main>
  <footer>
    For each job of this application three different metrics will be reported to graphite: last5, last25 and last150.<br>
    Each metric shows the precentage of successful results.
  </footer>
  <hr>
</ngx-smart-modal>
