@import "d3chart.less";

.d3chart-value{
  font-weight: bold;
  fill: white;
  text-anchor: end;
  alignment-baseline: central;
}

.d3chart-value-out{
  &:extend(.d3chart-value);
  text-shadow: 0 0 3px #000000;
  text-anchor: start;
}

.d3chart-good{
  font-weight: bold;
  fill: green;
}
.d3chart-ok{
  font-weight: bold;
  fill: orange;
}
.d3chart-bad{
  font-weight: bold;
  fill: red;
}

.d3chart-bar {
  transition: 0.2s fill ease;
}

.d3chart-bar-clickable{
  &:extend(.bar);
  cursor: pointer;
}


.d3chart-faded {
  fill: #97aab7 !important;
}

#chart-container {
  position: relative;
}
#filter-dropdown-group {
  position: absolute;
  right: 50px;
  top: 8px;
  z-index: 2;
  padding: 6px 12px;
}
.d3chart{
 transition: height 0.3s ease;
}