text.value{
  font-weight: bold;
  fill: white;
}
text.good{
  font-weight: bold;
  fill: green;
}
text.ok{
  font-weight: bold;
  fill: orange;
}
text.bad{
  font-weight: bold;
  fill: red;
}
#chart-container {
  position: relative;
}
#filter-dropdown-group {
  position: absolute;
  right: 50px;
  top: 8px;
  z-index: 500;
  padding: 6px 12px;
}