#violin-chart-component {
  position: relative;
  width: 100%;
  min-height: 100px;

  #y-axis_left_label {
    position: absolute;
    transform: translate(0, -300px) rotate(-90deg);
    white-space: nowrap;
  }
}
