@import "../../../../../styles/variables";
@import "../../../../../styles/colors";

figure.empty-state {
  margin-bottom: $default-padding;
  padding: $default-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 250px;
  }
  figcaption {
    text-align: center;
    color: $color-text-light;
  }
}
