<h2>
  Menu
</h2>
<p>
  {{ 'frontend.de.iteratec.osm.aggregation.description' | translate }}
</p>
<div class="action-row">
  <div class="col-md-12">

    <div class="btn-group pull-right">
      <button type="button" id="graphButtonHtmlId" class="btn btn-primary show-button" (click)="getBarchartData()"
              [disabled]="!(areApplicationsSelected$ | async) || !(areMeasurandsSelected$ | async)"> <!-- page && measurandEvents -->
        {{ 'frontend.de.iteratec.osm.resultSelection.show' | translate }}
      </button>
    </div>
    <div class="pull-right">
      <p class="bg-warning get-barchart-data-warnings" *ngIf="(resultCount$ | async) == -1 && (areApplicationsSelected$ | async)
       && ((arePagesSelected$ | async) || (areMeasuredEventsSelected$ | async))">
        {{ 'frontend.de.iteratec.osm.resultSelection.warning.longProcessingTime' | translate }}
      </p>
      <p class="bg-danger get-barchart-data-warnings" *ngIf="(resultCount$ | async) == 0">
        {{ 'frontend.de.iteratec.osm.resultSelection.warning.noDataAvailable' | translate }}
      </p>
      <p class="bg-danger get-barchart-data-warnings" *ngIf="(resultCount$ | async) > 0 && !(areApplicationsSelected$ | async)">
        {{ 'frontend.de.iteratec.osm.resultSelection.warning.noApplicationSelected' | translate }}
      </p>
      <p class="bg-danger get-barchart-data-warnings" *ngIf="(resultCount$ | async) > 0 && !(arePagesSelected$ | async)">
        {{ 'frontend.de.iteratec.osm.resultSelection.warning.noPageSelected' | translate }}
      </p>
      <p class="bg-danger get-barchart-data-warnings" *ngIf="(resultCount$ | async) > 0 && !(areMeasurandsSelected$ | async)">
        {{ 'frontend.de.iteratec.osm.resultSelection.warning.noMeasurandSelected' | translate }}
      </p>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="action-row">

      <div class="col-md-4">
        <osm-result-selection-time-frame [showComparativeTimeFrame]="true"></osm-result-selection-time-frame>
        <osm-result-selection-measurands></osm-result-selection-measurands>
      </div>
      <div class="col-md-3">
        <osm-result-selection-application [resetResultSelectionEvent]="resetResultSelectionEvent.asObservable()"></osm-result-selection-application>
      </div>
      <div class="col-md-5">
        <osm-result-selection-page-location-connectivity [showPageSelection]="true" [showBrowserSelection]="true"
                                                         [resetResultSelectionEvent]="resetResultSelectionEvent.asObservable()">
        </osm-result-selection-page-location-connectivity>
      </div>
      <div class="col-md-12">
        <button class="reset-result-selection btn btn-default btn-sm" (click)="emitResetEventToComponent()">
          <i class="fas fa-undo"></i> Reset
        </button>
      </div>

    </div>
  </div>
</div>
