@import "../../../../../styles/colors";

osm-time-series-line-chart {
  visibility: hidden;
}

#time-series-chart-drawing-area {
  .axis {
    .domain {
      display: none;
    }

    line {
      stroke: $color-contour-medium;
    }
    text {
      fill: $color-text-light;
    }

    .description {
      font-size: 14px;
      fill: $color-text-light;
    }
  }
}
