@import "../../../../../styles/colors";

osm-time-series-line-chart {
  #time-series-line-chart-container {
    position: relative;
    width: 100%;
  }

  #marker-tooltip {
    position: absolute;
    text-align: left;
    font: 10pt sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    pointer-events: none;

    tr.active {
      background: rgba(255, 255, 255, 0.75);
      color: black;
    }

    td {
      padding: 0.2em 0.75em 0.2em 0.75em;

      i {
        padding-right: 5px;
      }
    }
  }

  #time-series-chart-drawing-area {
    .axis {
      .domain {
        display: none;
      }

      line {
        stroke: $color-contour-medium;
      }

      text {
        fill: $color-text-light;
      }

      .description {
        font-size: 14px;
        fill: $color-text-light;
      }

      .unit {
        text-anchor: middle;
      }
    }

    .marker-line {
      stroke: $color-contour-medium;
      stroke-width: 1px;
    }

    circle.dot {
      stroke-width: 2px;
      fill: white;
    }
  }
}

.summary-label-key {
  font-weight: bold;
}

.summary-label {
  font-weight: normal;
}

.legend-entry {
  cursor: pointer;
}

.legend-text {
  font-size: 12px;
}

#pointSelectionErrorModal {
  header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }

  main {
    position: relative;
    padding: 15px;
  }

  footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }
}
