.remove-comparative-time-frame {
  text-align: left;
  padding-left: 0;
  padding-top: 7px;
  margin-bottom: 0;
  cursor: pointer;
}

.owl-dt-container {
  font-size: inherit;
}

.owl-dt-container-buttons, .owl-dt-container-info {
  display: none;
}

.owl-dt-timer-divider {
  font-size: 12px;
}

.time-frame-label {
  text-align: right;
}

#show-comparative-button {
  overflow: hidden;
  text-overflow: ellipsis;
}
