@import "../../../../styles/colors";

osm-csi-graph {
  display: block;
  width: 100%;

  .csi-graph-svg {
    height: 100%;
    min-height: 200px;
    width: 100%;
    min-width: 400px;
  }

  .csi-graph-area {
    fill: $color-primary;
    opacity: 0.2;
  }

  .csi-graph-line {
    stroke: $color-primary;
    fill: none;
  }

  .graph-border {
    fill: none;
    stroke: $color-contour-light;
    stroke-width: 1px;
  }

  .axis path {
    stroke: transparent;
  }
  .axis .tick line {
    stroke: $color-contour-light;
  }
  .grid-lines .tick line {
    stroke: $color-background;
  }

  svg g text {
    font-size: 12px;
    fill: $color-text-light;
  }

  .glow {
    filter: url(#glow);
  }
}
