osm-csi-graph {
  display: block;

  .csi-graph-svg {
    height: 100%;
    min-height: 200px;
    width: 100%;
    min-width: 400px;
  }

  .csi-graph-area {
    fill: #008cd2;
    opacity: 0.2;
  }

  .csi-graph-line {
    stroke: #008cd2;
    fill: none;
  }

  .y-axis .tick line {
    color: #fe1d1d;
    fill: #00bd58;
    stroke: #ffa605;
  }

  svg g text {
    fill: green;
  }
}
