@import "../../../../styles/colors";

.info-container {
  height: 100%;
  min-height: 205px;
  width: 100%;
  min-width: 400px;
  border: $color-contour-light solid 2px;
  border-radius: 10px;
}

.csi-info {
  height: 60%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: end;
  align-items: center;
  grid-template-columns: 50px 900px auto;
  grid-gap: 20px;
}

.icon-info {
  font-size: 30px;
  color: $color-primary;
}

.icon-warning {
  font-size: 30px;
  color: $color-warning;
}

.info-text {
  font-size: 18px;
  color: $color-text-normal;
}

.info-button {
  float: right;
  opacity: 0.7;
  transition: 0.3s;
  background-color: $color-primary;
  color: $color-background;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid $color-primary;
  border-radius: 5px;
  margin: 25px 20px 0;
  padding: 5px 10px;
  cursor: pointer;
}

.info-button:hover {
  opacity: 1;
}
