<div class="info-container">
  <div class="csi-info">
    <i ngClass="{{ iconClass }}"></i>
    <div class="info-text">{{ infoText | translate }}</div>
  </div>
  <div *ngIf="errorCase === 2">
    <a (click)="createCsiConfiguration()" class="info-button">{{ buttonText | translate }}</a>
  </div>
  <div *ngIf="errorCase === 3">
    <a href="/csiConfiguration/configurations/{{ selectedApplication.csiConfigurationId }}" class="info-button">{{ buttonText | translate }}</a>
  </div>
  <div *ngIf="errorCase === 4">
    <a href="/job/#/jobGroup={{ selectedApplication.name }}" class="info-button">{{ buttonText | translate }}</a>
  </div>
</div>
