@import "../../../../styles/colors";

.info-container {
  min-height: 175px;
  min-width: 400px;
  border: $color-contour-light solid 1px;
  border-radius: 10px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.csi-info {
  display: inline-flex;
  height: 150px;
  justify-content: flex-start;
  align-items: center;
}

.icon-info {
  font-size: 30px;
  color: $color-primary;
}

.icon-warning {
  width: 10%;
  text-align: center;
  font-size: 40px;
  color: $color-warning;
  padding-right: 20px;
}

.info-text {
  width: 70%;
  font-size: 18px;
  font-weight: bold;
  color: $color-text-normal;
}

.info-button {
  position: relative;
  bottom: 35px;
  float: right;
  color: $color-background;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 30px;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.info-button:hover {
  opacity: 1;
}
