
<osm-line-chart [results]="testResults$ | async" [metric]="metric" (resultSelectionChange)="setSelectedResults($event)"></osm-line-chart>

<div class="filmstrips-wrapper">
  <div class="filmstrips">
  <osm-filmstrip *ngFor="let testResult of selected" [result]="testResult" [highlightedMetric]="metric"></osm-filmstrip>
  </div>
</div>

Metric:
<select [(ngModel)]="metric">
  <option [value]="'speedIndex'">Speed Index</option>
  <option [value]="'docCompleteTimeInMillisecs'">Document Complete</option>
  <option [value]="'startRenderInMillisecs'">Start Render</option>
  <option [value]="'Image'">Hero Image</option>
  <option [value]="'visuallyCompleteInMillisecs'">Visually Complete</option>
</select>
