
<osm-line-chart [results]="testResults$ | async" [metric]="metric" (resultSelectionChange)="setSelectedResults($event)"></osm-line-chart>

<osm-comparable-filmstrips [results]="selected" [highlightedMetric]="metric"></osm-comparable-filmstrips>

Metric:
<select [(ngModel)]="metric">
  <option [value]="'SPEED_INDEX'">Speed Index</option>
  <option [value]="'DOC_COMPLETE_TIME'">Document Complete</option>
  <option [value]="'START_RENDER'">Start Render</option>
  <option [value]="'_HERO_Image'">Hero Image</option>
  <option [value]="'VISUALLY_COMPLETE'">Visually Complete</option>
</select>
