osm-csi-graph {
  display: block;
  flex-grow: 1;
}

osm-csi-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
}

.card > .csi {
  display: flex;
}

.application-csi {
  margin-bottom: 30px;
}
