$items-per-row: 5;
$grid-gap: 20px;

osm-csi-graph {
  display: block;
  flex-grow: 1;
}

osm-csi-value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-width: calc(290px - #{$grid-gap});
  width: calc(100% / #{$items-per-row} - 8px);
}

.card > .csi {
  display: flex;
}

.application-csi {
  margin-bottom: 30px;
}
