<div *ngIf="hasConfiguration$ | async; else returnError">
  <div class="card" *ngIf="recentCsiValue$ | async; let recentCsiValue; else noRecentCsi">
    <osm-csi-value [csiValue]="recentCsiValue.csiDocComplete" [isBig]="true" [description]="'today'"></osm-csi-value>
    <osm-csi-graph [csiData]="csiValues$ | async"></osm-csi-graph>
  </div>
  <ng-template #noRecentCsi>
    No CSI available
  </ng-template>
</div>
<ng-template #returnError>
  <p style="color: red">CSI is not configured for this Job Group!</p>
</ng-template>
