<div class="card application-csi"
     title="{{isCsiOutdated((recentCsiDate$ | async), lastDateOfResults) ?
     ('frontend.de.iteratec.osm.applicationDashboard.outdated.hint' | translate:{ date: toGermanDateFormat(recentCsiDate$ | async)}) :
     ''}}">
  <h2>{{ 'frontend.de.iteratec.osm.applicationDashboard.kpi.title' | translate }}</h2>
  <div *ngIf=" hasConfiguration$ | async; else returnError" class="csi">
    <ng-container *ngIf="recentCsiValue$ | async; let recentCsiValue; else noRecentCsi">
      <osm-csi-value [csiValue]="recentCsiValue.csiDocComplete" [csiDate]="recentCsiValue.date"
                     [lastResultDate]="lastDateOfResults" [isBig]="true"
                     [description]="'today'"></osm-csi-value>
      <osm-csi-graph [csiData]="csiValues$ | async"></osm-csi-graph>
    </ng-container>
    <ng-template #noRecentCsi>
      No CSI available
    </ng-template>
  </div>
  <ng-template #returnError>
    <p style="color: red">CSI is not configured for this Job Group!</p>
  </ng-template>
</div>
