/*
*= require_tree bower_components/components-font-awesome
*= require_tree bower_components/dcjs
*= require bootstrap-custom
*= require date-time-picker/bootstrap-datepicker.min.css
*= require chosen/chosen.css
*= require_self
*/
.form-group.error label, .fieldcontain.error label {
	color: #b94a48;
	font-weight: bold;
}
.renderInvisible {
 display:none;
}
.nav .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  margin-top: 8px;
}
.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.btn-group > .btn-small {
    font-size: 14px;
}