@import-once "variables-corporate";

.card-well {
  color: @card-well-color;
  background-color: transparent;
  border-radius: 4px;
  padding: 0 7.5px 15px 7.5px;
  margin: 0 -15px;

  &.row {

  }

  .card, .card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7, .card-8, .card-9, .card-10 {
    margin: 15px -7.5px 0 -7.5px;
  }
}

.card-well .row {
  margin-left: 0;
  margin-right: 0;
}

.card {
  box-shadow: @default-drop-shadow;
  padding: 15px;
  background: @card-bg;
  margin: 0 0 15px 0;
}

.card-1 {
  height: 5em;
  .card;
}
.card-2 {
  height: 10em;
  .card;
}
.card-3 {
  height: 15em;
  .card;
}
.card-4 {
  height: 20em;
  .card;
}
.card-5 {
  height: 25em;
  .card;
}
.card-6 {
  height: 30em;
  .card;
}
.card-7 {
  height: 35em;
  .card;
}
.card-8 {
  height: 40em;
  .card;
}
.card-9 {
  height: 45em;
  .card;
}
.card-10 {
  height: 50em;
  .card;
}

.card > .nav {
  margin-bottom: 20px;
}

.card > .nav li a {
  margin-top: -1px;
  padding: 5px 12px;
}

.card-well-tabs {
  margin: 0 -15px;
  padding: 0 15px;
}

.card-well-tabs li.active a,
.card-well-tabs li.active a:hover,
.card-well-tabs li.active a:focus {
  color: #ffffff;
  background-color: @brand-primary;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.card-well.tab-content {
  border-top-color: transparent;
  border-radius: 0 0 4px 4px;
}
