.footer {
  background: #eee;
  color: #000;
  clear: both;
  font-size: 0.8em;
  margin-top: 1.5em;
  padding: 1em;
  min-height: 1em;
}

.iteratec-grid-border-left {
		margin-left: ((@gridGutterWidth - 4) / 2) !important; 
		padding-left: ((@gridGutterWidth - 4) / 2) !important; 
		border-left: 2px solid #cdcdcd;	
		
		height: 250px !important;
}

.iteratec-element-select { 
		height: 150px  !important; 
		min-width: 100%  !important; 
}
.iteratec-element-select.default-not-visible { 
	.iteratec-element-select;
	display: none;
}
.iteratec-element-select-higher { 
		height: 250px  !important; 
		width: 95%  !important; 
}

.iteratec-default-not-visible { 
	display: none;
}

.accordion-info {
  .text-info;
	line-height: normal;
	font-size:80%;
	padding: 8px 0px;
}

.accordion-link {
  display: block;
  width: 100%;
  padding: 0;
  line-height: 40px;
  color: #333333;
  border: 0;
}

.accordion-custom-heading {
  background-color: #EEEEEE;
  font-size: 1.2em;
}

.input-medium-height30 {
	.input-medium;
	height:24px !important;
	padding:2px 6px !important;
}
.content-box {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
}
.chart-tiptext {
  color: @white;
  font-size: 10pt;
  white-space: nowrap;
}

#highcharts-0 {
    margin-left: auto;
    margin-right: auto;
}

.radio.inline, .checkbox.inline {
    margin-right: 5px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
 // height: 25px !important;
  height: 24px;
  padding: 2px 6px !important;
  line-height: 24px !important;
}

select {
  width: auto !important;
  height: 30px;
  padding: 4px 6px !important;
  line-height: 20px !important;
}

.width_31em {
    width: 31em !important;
}

.noIdent {
    margin-left: 0 !important;
}

.input-append .add-on, .input-prepend .add-on {
    height: 20px !important;
    line-height: 20px !important;
}
.btn {
    line-height: 25px !important;
}

select[multiple], select[size] {
    //height: auto !important;
}
.dropdown-menu .scrollable {
  height: auto;
  max-height: 80vh;
  overflow-x: hidden;
}

a.dropdown-toggle {
    position: relative;
}

i.clickable-icon {
  cursor: pointer;
  .text-info
}

textarea {
  height: auto;
}

input.ui-autocomplete-input {
  height: 20px !important;
  padding: 2px 6px !important;
}

.dataLabel {
  position: absolute;
  font-size: 12px;
  transform: rotate(270deg);
  transform-origin: left top 0;
  float: left;
}
#rickshaw_slider {
  margin-top: 3px;
}

#rickshaw_label_summary_box {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 60px;
  margin-right: 40px;
}

//bootstrap component-animation
.collapse {
  position: relative;
  height: 0;
  overflow: auto;
  .transition(height .35s ease);
  &.in {
    height: auto;
  }
}

//bootstrap popovers
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: @zindexPopover;
  display: none;
  max-width: 800px;
  padding: 1px;
  text-align: left; // Reset given new insertion method
  background-color: @popoverBackground;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  .border-radius(6px);
  .box-shadow(0 5px 10px rgba(0,0,0,.2));

  // Overrides for proper insertion
  white-space: normal;

  // Offset the popover to account for the popover arrow
  &.top     { margin-top: -10px; }
  &.right   { margin-left: 10px; }
  &.bottom  { margin-top: 10px; }
  &.left    { margin-left: -10px; }
}

//bootstrap navbar
// Brand: website or project name
// -------------------------
.navbar .brand {
  float: left;
  display: block;
  // Vertically center the text given @navbarHeight
  padding: ((@navbarHeight - @baseLineHeight) / 2) 20px 6px !important;
  margin-left: -20px; // negative indent to left-align the text down the page
  font-size: 20px;
  font-weight: 200;
  color: @navbarBrandColor;
  text-shadow: 0 1px 0 @navbarBackgroundHighlight;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.navbar img.logo	{ max-height: 39px !important; margin-top: -3px;}

//bootstrap variables
@navbarBackgroundHighlight:       #AB0C0C;/*ffffff;*/

//bootstrap responsive-utilities
// Required for Windows 8 Metro split-screen snapping with IE10
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport{
  width: auto !important;
}

//bootstrap dropdown
//was deleted with IT-508, removed body to remove behavior TODO maybe there is a better way
.dropdown-submenu:hover > .dropdown-menu {
}