.remove-measurand {
  text-align: left;
  padding-left: 0;
  padding-top: 7px;
  margin-bottom: 0;
  cursor: pointer;
}

.measurand-card-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

#add-measurand-button {
  overflow: hidden;
  text-overflow: ellipsis;
}
