.performance-aspect-type {
  font-size: 1.5em;
}

.clickable-list {
  li {
    a {
      margin-bottom: 2px;

      p.percentage-big {
        font-size: 18px;
      }

      p.percentage {
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
