.performance-aspect-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5em;
  i {
    justify-self: end;
  }
}

.clickable-list {
  li {
    a {
      margin-bottom: 2px;

      p.percentage-big {
        font-size: 18px;
      }

      p.percentage {
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
