<div class="dropdown">
  <button class="select-application-header dropdown-toggle" type="button" id="selectApplicationHeaderId"
          data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
    {{selectedApplication?.name || "select application"}}<i
    class="fa fa-caret-down select-application-header-triangle"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="selectApplicationHeaderId">
      <li>
        <a class="dropdown-item" *ngFor="let jobGroup of jobGroups$ | async" (click)="setApplication(jobGroup)">
          {{jobGroup.name}}
        </a>
      </li>
    </ul>
  </div>

