# Move this file to one of the locations configured in config-setting grails.config.locations (see Config.groovy).
# One of that locations is ~/.grails/OpenSpeedMonitor-config.groovy
#
# Settings in this file will override defaults in grails-app/config!
#
# @author nkuhn
# @see Config.groovy
# @see http://grails.org/doc/latest/guide/conf.html#configExternalized
# Configure default app users (bootstrapped on first start if not already in db -> see Bootstrap.groovy)

grails:
  de:
    iteratec:
      osm:
        security:
          initialOsmAdminUser:
            username: '{{ default "admin" .Env.OSM_ADMIN_USER }}'
            password: '{{ default "secret123" .Env.OSM_ADMIN_PASSWORD }}'
          initialOsmRootUser:
            username: '{{ default "root" .Env.OSM_ROOT_USER }}'
            password: '{{ default "muchMoreSecret!123" .Env.OSM_ROOT_PASSWORD }}'

environments:
  production:
    grails:
      serverURL: '{{ default "http://localhost:8080" .Env.OSM_URL }}'
      de.iteratec.osm.detailAnalysis:
        enablePersistenceOfDetailAnalysisData: {{ default "false" .Env.ENABLE_DETAIL_ANALYSIS }}
        microserviceUrl: '{{ default "http://your.detail.analysis.service.com" .Env.DETAIL_ANALYSIS_URL }}'
        apiKey: '{{ default "apiKeyForDetailAnalysisService" .Env.API_KEY_DETAIL_ANALYSIS }}'
    dataSource:
      url: 'jdbc:mysql://{{ default "osm-mysql" .Env.MYSQL_HOST }}/{{ default "osm" .Env.MYSQL_DATABASE }}'
      username: '{{ default "osm" .Env.MYSQL_USER }}'
      password: '{{ default "osm123" .Env.MYSQL_PASSWORD }}'
      dbCreate: "managed by liquibase"
      pooled: true
      properties:
        minEvictableIdleTimeMillis: 60000
        timeBetweenEvictionRunsMillis: 5000
        numTestsPerEvictionRun: 3
        testOnBorrow: true
        testWhileIdle: true
        testOnReturn: false
        validationQuery: "SELECT 1"

server:
  port: 8080
