# Move this file to one of the locations configured in config-setting grails.config.locations (see Config.groovy).
# One of that locations is ~/.grails/OpenSpeedMonitor-config.groovy
#
# Settings in this file will override defaults in grails-app/config!
#
# @author nkuhn
# @see Config.groovy
# @see http://grails.org/doc/latest/guide/conf.html#configExternalized
# Configure default app users (bootstrapped on first start if not already in db -> see Bootstrap.groovy)

grails:
  de:
    iteratec:
      osm:
        security:
          initialOsmAdminUser:
            username: '{{ default .Env.OSM_ADMIN_USER "admin" }}'
            password: '{{ default .Env.OSM_ADMIN_PASSWORD "secret123" }}'
          initialOsmRootUser:
            username: '{{ default .Env.OSM_ROOT_USER "root" }}'
            password: '{{ default .Env.OSM_ROOT_PASSWORD "muchMoreSecret!123" }}'
          initialDetailAnalysisApiKey: '{{ default .Env.API_KEY_DETAIL_ANALYSIS "apiKeyForDetailAnalysisService" }}'

environments:
  production:
    grails:
      serverURL: '{{ default .Env.OSM_URL "http://localhost:8080"}}'
      de.iteratec.osm.detailAnalysis:
        enablePersistenceOfDetailAnalysisData: {{ default .Env.ENABLE_DETAIL_ANALYSIS false }}
        detailAnalysisMicroserviceUrl: '{{ default .Env.DETAIL_ANALYSIS_URL "http://your.detail.analysis.service.com" }}'
    dataSource:
      url: 'jdbc:mysql://{{ default .Env.MYSQL_HOST "osm-mysql" }}/{{ default .Env.MYSQL_DATABASE "osm" }}'
      username: '{{ default .Env.MYSQL_USER "osm" }}'
      password: '{{ default .Env.MYSQL_PASSWORD "osm123" }}'
      dbCreate: "managed by liquibase"
      driverClassName: "com.mysql.jdbc.Driver"
      pooled: true
      properties:
        minEvictableIdleTimeMillis: 60000
        timeBetweenEvictionRunsMillis: 5000
        numTestsPerEvictionRun: 3
        testOnBorrow: true
        testWhileIdle: true
        testOnReturn: false
        validationQuery: "SELECT 1"

server:
  port: 8080
