!tape
name: HarFetchServicesTests_FetchHarFromWPTInstanceTest
interactions:
- recorded: 2016-03-29T11:26:06.463Z
  request:
    method: GET
    uri: http://www.webpagetest.org/export.php?test=160329_QB_J41
    headers:
      Proxy-Connection: Keep-Alive
  response:
    status: 200
    headers:
      Content-Type: application/json
      Content-disposition: attachment; filename=amazon.de.160329_QB_J41.har
      Link: <http://www.webpagetest.org/export.php?test=160329_QB_J41>; rel="canonical"
    body: '{"log":{"version":"1.1","creator":{"name":"WebPagetest","version":"2.19"},"pages":[{"startedDateTime":"2016-03-29T09:50:35.000+00:00","title":"Run 1, First View for http://amazon.de","id":"page_1_0","pageTimings":{"onLoad":12785,"onContentLoad":-1,"_startRender":2290},"_URL":"http://amazon.de","_loadTime":12785,"_TTFB":648,"_bytesOut":160853,"_bytesOutDoc":75435,"_bytesIn":7123193,"_bytesInDoc":5239721,"_connections":55,"_requests":289,"_requestsFull":289,"_requestsDoc":179,"_responses_200":271,"_responses_404":0,"_responses_other":2,"_result":99999,"_render":2290,"_fullyLoaded":18514,"_cached":0,"_docTime":12785,"_domTime":0,"_score_cache":86,"_score_cdn":91,"_score_gzip":100,"_score_cookies":-1,"_score_keep-alive":100,"_score_minify":-1,"_score_combine":100,"_score_compress":79,"_score_etags":-1,"_gzip_total":1960196,"_gzip_savings":0,"_minify_total":0,"_minify_savings":0,"_image_total":1677336,"_image_savings":351949,"_optimization_checked":1,"_aft":0,"_domElements":2019,"_pageSpeedVersion":"1.9","_title":"Amazon.de:
      Günstige Preise für Elektronik &amp; Foto, Filme, Musik, Bücher, Games, Spielzeug &amp; mehr","_titleTime":1486,"_loadEventStart":12734,"_loadEventEnd":12763,"_domContentLoadedEventStart":3079,"_domContentLoadedEventEnd":3080,"_lastVisualChange":18690,"_browser_name":"Google
      Chrome","_browser_version":"49.0.2623.87","_server_count":1,"_server_rtt":119,"_base_page_cdn":"","_adult_site":0,"_fixed_viewport":0,"_score_progressive_jpeg":0,"_firstPaint":2651,"_docCPUms":9313.26,"_fullyLoadedCPUms":12838.882,"_docCPUpct":73,"_fullyLoadedCPUpct":62,"_isResponsive":-1,"_browser_process_count":4,"_browser_main_memory_kb":66516,"_browser_other_private_memory_kb":67696,"_browser_working_set_kb":134212,"_domInteractive":3079,"_date":1459245035,"_SpeedIndex":8797,"_visualComplete":18700,"_run":1,"_effectiveBps":398701,"_effectiveBpsDoc":431714},{"startedDateTime":"2016-03-29T09:51:10.000+00:00","title":"Run
      1, Repeat View for http://amazon.de","id":"page_1_1","pageTimings":{"onLoad":6480,"onContentLoad":-1,"_startRender":1789},"_URL":"http://amazon.de","_loadTime":6480,"_TTFB":574,"_bytesOut":56601,"_bytesOutDoc":21724,"_bytesIn":729869,"_bytesInDoc":711725,"_connections":26,"_requests":63,"_requestsFull":63,"_requestsDoc":40,"_responses_200":58,"_responses_404":0,"_responses_other":2,"_result":99999,"_render":1789,"_full[...]
