.aspect-management-modal{
  max-width: 910px;
}

.aspect-management-box{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.aspect-inspect{
  grid-column-start: 1;
  grid-column-end: span 2;
}

.aspect-management-modal > .nsm-content > .nsm-body {
  margin: 20px 20px 0 20px;
}

.buttons {
  height: 2.5em;
  a {
    float: right;
    width: 100px;
    margin: 0 5px 0 10px;
  }
}

.btn-init-dialog {
  cursor: pointer;
  font-size: 14px;
  color: rgb(189, 188, 188);
}
