<div class="btn-init-dialog">
  <i class="fas fa-cog" (click)="initDialog()"></i>
</div>

<ngx-smart-modal #performanceAspectMgmtModal id="performanceAspectMgmtModal" identifier="performanceAspectMgmtModal"
                 [customClass]="'aspect-management-modal'" (onAnyCloseEvent)="resetModalData()" force="false">
  <h2>
    {{"frontend.de.iteratec.osm.performance-aspect.title" | translate}} <span class="text-info">{{ performanceAspectMgmtModal.getData() }}</span>
  </h2>
  <hr>
  <main>
    <div *ngIf="(performanceAspects$ | async)?.length > 0; else isLoading" class="aspect-management-box">
      <osm-performance-aspect-inspect *ngFor="let performanceAspect of (performanceAspects$ | async)"
                                      [performanceAspectWrapped]="performanceAspect" (onSelect)="updatePerformanceAspect($event)"
                                      class="aspect-inspect"></osm-performance-aspect-inspect>
    </div>
  </main>
  <hr>
  <div class="buttons">
    <a (click)="saveAndClose()" class="btn btn-primary">{{ 'frontend.default.button.save' | translate }}</a>
    <a (click)="ngxSmartModalService.close('performanceAspectMgmtModal')" class="btn btn-default">{{ 'frontend.default.button.cancel' | translate }}</a>
  </div>
</ngx-smart-modal>

<ng-template #isLoading>
  <div>
    <p>{{"frontend.de.iteratec.osm.queueDashboard.load-information.label" | translate}}</p>
  </div>
</ng-template>
