<div class="edit-container">
  <div class="aspect-type">
    <div class="aspect-label">{{"frontend.de.iteratec.osm.performance-aspect."+performanceAspectWrapped?.data?.performanceAspectType| translate}}</div>
  </div>
  <div class="measurand">
    <div *ngIf="!editMode; else measurandSelect">
      <div class="form-control">{{(selectedMetric$ | async)|translate}}</div>
    </div>
  </div>
  <div class="buttons">
      <div *ngIf="!performanceAspectWrapped?.isLoading">
        <div *ngIf="!editMode; else saveOrCancel">
        <button class="btn btn-primary edit-button" (click)="edit()">
          Edit
        </button>
      </div>

    </div>

  </div>
</div>

<ng-template #measurandSelect>
  <osm-measurand-select [initialValue]="selectedMetric$ | async" (onSelect)="selectMeasurandForAspect($event)"></osm-measurand-select>
</ng-template>

<ng-template #saveOrCancel>
  <button class="btn btn-warning" (click)="cancel()">
    Cancel
  </button>
  <button class="btn btn-success" (click)="save()">
    Save
  </button>
</ng-template>

