.edit-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  grid-gap: 0.8em;
}

.aspect-label{
  font-size: 14px;
  color: #555555;
  margin: 0 0 2px 2px;
}

.aspect-type {
  grid-column-start: 1;
  //grid-column-end: span 2;
}

.measurand {
  grid-column-start: 2;
  grid-column-end: span 2;
  align-self: end;
}

.buttons {
  grid-column-start: 4;
  grid-column-end: span 2;
  align-self: end;
}

.btn {
  margin: 0 0.5em;
  width: 8em;
}
