.edit-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  grid-gap: 0.8em;
}

@media (max-width:768px) {
  .edit-container {
    grid-template-columns: 2fr 2fr;
  }
}

.aspect-label {
  font-size: 12px;
  color: #555555;
  font-weight: lighter;
}

.aspect-type {
  grid-column-start: 1;
  grid-column-end: span 1;
}

.measurand {
  grid-column-start: 2;
  grid-column-end: span 2;
  align-self: start;
}

.buttons {
  grid-column-start: 4;
  grid-column-end: span 2;
  align-self: end;
}

.btn {
  margin: 0 0.5em;
  width: 8em;
}

.performance-aspect-type {
  font-size: 15px;
}
