<div class="edit-container">
  <div class="aspect-type">
    <span class="performance-aspect-type">
      {{"frontend.de.iteratec.osm.performance-aspect." + performanceAspectWrapped?.data?.performanceAspectType + ".user-centric-question" | translate}}
    </span>
    <ng-container *ngTemplateOutlet="aspectMetricLabel"></ng-container>
  </div>
  <div class="measurand">

    <osm-measurand-select [selectedMeasurand]="metric$ | async" [selectableMeasurandGroups]="measurands"
                          (onSelect)="selectMeasurandForAspect($event)"></osm-measurand-select>
  </div>
</div>

<ng-template #aspectMetricLabel>
  <div class="aspect-label">
    <span
      class="text-info">{{"frontend.de.iteratec.osm.performance-aspect." + performanceAspectWrapped?.data?.performanceAspectType + ".description" | translate}}</span>
  </div>
</ng-template>

