<div class="csi-value-container">
  <div class="csi-value" title="{{ isOutdated ?
               ('frontend.de.iteratec.osm.applicationDashboard.outdated.hint' | translate:{ date: toGermanDateFormat(csiDate) })
               :'' }}">
    <svg [style.width.px]="size" [style.height.px]="size" #svg [ngClass]="csiValueClass"></svg>
    <span *ngIf="isOutdated" class="info-icon" [ngClass]="{small: !isBig}">
      <i class="far fa-circle"></i>
      <i class="fas fa-info"></i>
    </span>
  </div>
</div>
