@import "../../../../styles/colors";

osm-csi-value {
  .csi-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .csi-value {
    position: relative;

    svg {
      display: block;
    }
  }

  .csi-value-text {
    font-weight: bold;
    color: $color-text-normal;
  }

  .csi-value-description {
    color: $color-text-medium;
  }

  .info-icon {
    position: absolute;
    right: -0.85em;
    top: -0.85em;
    color: $color-text-light;

    &.small {
      font-size: 0.8em;
    }

    .fa-circle {
      font-size: 1.7em;
    }

    .fa-info {
      display: block;
      text-align: center;
      margin-top: -2em;
      line-height: 2em;
      font-size: 0.9em;
    }
  }
}
