@import "../../../../styles/colors";

osm-csi-value {
  .csi-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    svg {
      display: block;
    }
  }

  .csi-value-text, .csi-value-description {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
  }

  .csi-value-text {
    font-weight: bold;
    color: $color-text-normal;
    font-size: 18px;
    line-height: 0;
    bottom: 50%;

    &::after {
      // this way the text is positioned by its baseline
      content: "";
      display: inline-block;
    }
  }
  .csi-value-description {
    color: $color-text-medium;
    font-size: 12px;
    top: 50%;
    line-height: 1em;
    margin-top: 4px;
  }

  .big {
    .csi-value-text {
      font-size: 34px;
    }
    .csi-value-description {
      font-size: 14px;
      margin-top: 8px;
    }
  }

  .loading {
    .csi-value-text {
      font-size: 10px;
    }
    &.big .csi-value-text {
      font-size: 24px;
    }
  }

  .hint {
    .hint-container {
      cursor: help;
      z-index: 10;
      position: relative;
    }
    .csi-value-description {
      text-decoration: underline dotted $color-text-medium;
    }
  }
}
