<div class="csi-circle-container">
  <svg [style.width.px]="size" [style.height.px]="size" #svg [ngClass]="csiValueClass">
  </svg>
  <div class="csi-circle-text-container">
    <div class="csi-value-text" [style.font-size.px]="valueFontSize">{{formattedCsiValue}}</div>
    <div class="csi-value-description" [style.font-size.px]="descriptionFontSize">{{description}}</div>
  </div>
  <i *ngIf="isBig && isOutdated" data-toggle="tooltip" title="{{toolTip}}"
     class="fas fa-info-circle info-icon"></i>
</div>


